ATLAS_ADDR=:8080
ATLAS_USER_AGENT=AtlasSearchBot/0.1
ATLAS_AI_BASE_URL=http://127.0.0.1:8001

ATLAS_STORAGE_DRIVER=memory
ATLAS_DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/atlas_search?sslmode=disable

ATLAS_CACHE_DRIVER=memory
ATLAS_REDIS_ADDR=127.0.0.1:6379

